In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import json
import re
import functools
import string
import pandas as pd
import numpy as np
import seaborn as sns
import sqlite3
import time
pd.set_option('display.max_rows', 300)

In [3]:
# import os
dir_path = '/content/drive/MyDrive/CSS_project/data/'
# os.chdir(dir_path)
file_name = '/content/drive/MyDrive/CSS_project/data/queens_death_place2.json'

# Making sense of the data

To make sense of the data, see documentation
https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/overview

`Tweet` object:
- Retweets can be distinguished from typical Tweets by the existence of a `retweeted_status` attribute
- `quoted_status_id`: This field only surfaces when the Tweet is a quote Tweet. This field contains the integer value Tweet ID of the quoted Tweet
- `quote_count`, `reply_count`, `retweet_count`, `favorite_count` (like count)
- `entities` object contains parsed information about the tweet (`hashtags`, `urls`, `user_mentions`, `symbols`; `media`, `polls`)
- Top-level entites do not reflect Quote details, so we should rely on the nested `extended_tweet` object for Quote Tweets.
- `geo`: https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/geo

`Author` object also has `location`

What is `context_annotations`? https://developer.twitter.com/en/docs/twitter-api/annotations/overview

- `referenced_tweets`: `replied_to`, `retweets`

***Questions***
1. How do we handle retweets and quoted tweets?
2. Maybe we can do something with the hashtags?
3. There are many urls. We should make use of them (e.g. title, description)
4. Infer occupation from description?
5. Which location to use?
  - Many tweets don't have location. Conjecture: most account with location and public figures/institutions.
  - Author locations need disambiguation

Separate retweets for now

1. Discard non-English tweets and remove non-English characters, also get rid of the __twarc field

In [ ]:
# with open(file_name, 'r') as f:
#   f_write = open(dir_path+'all_en_tweets.json', 'w')
#   num_tweets = 0
#   while True:
#     try: # goes through every line
#       t = json.loads(f.readline()) # a tweet
#       if t['lang']!='en': # discard non-English tweets
#           continues
#       del t['__twarc']  # delete query information
#       t['text'] = re.sub(f'[^A-Za-z0-9\s{string.punctuation}]', '', t['text']) # remove non-English chars
#       f_write.write(json.dumps(t)+'\n')
#       num_tweets += 1
#     except:
#       break
#   f_write.close()
# print(num_tweets)

4432930

In [ ]:
# referenced_types = set()
# with open(dir_path+'all_en_tweets.json', 'r') as f:
#   while True:
#     line = f.readline()
#     try:
#       t = json.loads(line)
#       if 'referenced_tweets' in t:
#         assert len(t['referenced_tweets'])==1
#         referenced_types |= set([t['referenced_tweets'][0]['type']])
#     except:
#       break
# referenced_types

{'quoted', 'replied_to', 'retweeted'}

2. Split all_en_tweets.json into tweets.json and retweets.json
Note that this classification is not very rigorous. It is better to look at `referenced_tweets` = `replied_to`, `retweeted`, `quoted`

In [ ]:
# # Took 30 mins
# f_tw = open(dir_path + 'tweets.json', 'w')  # not retweets
# f_rt = open(dir_path + 'retweets.json', 'w') # retweets
# with open(dir_path + 'all_en_tweets.json', 'r') as f:
#   while True:
#     try: # goes through every line
#       t = json.loads(f.readline()) # a tweet
#       if bool(re.match('^RT', t['text'])) and 'referenced_tweets' in t: # text of retweets start with RT
#         f_rt.write(json.dumps(t)+'\n')
#       else:
#         f_tw.write(json.dumps(t)+'\n')
#     except:
#       break
# f_rt.close()
# f_tw.close()

In [ ]:
# # how many lines (i.e. tweets) are there in the file
# !wc -l 'queens_death.json' # 
# !wc -l 'all_en_tweets.json' # 
# !wc -l 'tweets.json'    # 
# !wc -l 'retweets.json'   #

^C

## Create an `authors.json` file for later use 
(note that it doesn't contain authors of retweeted tweets)

In [ ]:
# # Took 16 mins
# authors_added = set()
# with open(dir_path + 'all_en_tweets.json', 'r') as f:
#   f_a = open(dir_path+'authors.json', 'w')
#   while True:
#     try: # goes through every line
#       t = json.loads(f.readline()) # a tweet
#       if t['author']['id'] in authors_added: # if author is already added
#         continue
#       # ============== Add info for M3Inference =================
#       # creating 'screen_name'
#       t['author']['screen_name'] = t['author']['username']
#       # creating 'profile_image_url_https'
#       t['author']['profile_image_url_https'] = t['author']['profile_image_url']
#       # adding lang
#       t['author']['lang'] = 'en'
#       # adding id_str
#       t['author']['id_str'] = str(t['author']['id'])
#       # adding default_profile_image
#       if t['author']["profile_image_url"] == "https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png":
#          t['author']["default_profile_image"] = True
#       else:
#          t['author']["default_profile_image"] = False
#       # ============================================================
#       a = t['author']
#       authors_added.add(a['id'])
#       f_a.write(json.dumps(a)+'\n')
#     except:
#       break
#   f_a.close()

In [ ]:
def read_tweets_from(filename, num_rows=None):
  tweets = []
  with open(dir_path+filename, 'r') as f:
    if num_rows is None: # read the entire file
      while True:
        try:
          tweets.append(json.loads(f.readline()))
        except:
          break
    else:
      for i in range(num_rows):
        tweets.append(json.loads(f.readline()))
  return tweets

## Exploration (Don't use this. See code in the next Exploration section)

In [ ]:
# read all tweets from tweets.json
tweets = read_tweets_from('tweets.json')

In [ ]:
# # look for info about geolocation
print(functools.reduce(set.union, [set(t.keys()) for t in tweets])) # geo 
# print(functools.reduce(set.union, [set(t['author'].keys()) for t in tweets])) # location

{'lang', 'author', 'public_metrics', 'attachments', 'reply_settings', 'referenced_tweets', 'conversation_id', 'created_at', 'text', 'source', 'possibly_sensitive', 'in_reply_to_user', 'context_annotations', 'id', 'entities', 'withheld', 'author_id', 'geo', 'in_reply_to_user_id'}

In [ ]:
# # only a small portion of tweets have location
# len([x for x in tweets if 'geo' in x]), len(tweets)

In [ ]:
# # most authors do have locations
# len([x for x in tweets if 'location' in x['author']]), len(tweets)

In [ ]:
# # tweet locations
# print(functools.reduce(set.union, [set(t['geo'].keys()) for t in tweets if 'geo' in t]))
# countries = [t['geo']['country'] for t in tweets if 'geo' in t]
# countries = pd.Series(countries).value_counts()

In [ ]:
# import plotly.express as px
# fig = px.pie(values=countries, names=countries.index)
# fig.update_layout(title="Tweet location by country (excluding retweets)", title_x=0.5)
# fig.update_traces(textposition='inside',textinfo='percent+label', showlegend=False)

For layered pie chart see https://towardsdev.com/pie-charts-in-python-matplotlib-seaborn-plotly-f60995160c33

In [ ]:
# tweets_locations = {t['geo'] for t in tweets if 'geo' in t}
# author_locations = {t['author']['location'] for t in tweets if 'location' in t['author']}
# # We might need to use google maps to figure out author locations ...

In [ ]:
# {t['reply_settings'] for t in tweets}

# Build the database

## Create Tables

Tables
1. Authors
2. Tweets
3. Retweets

In [104]:
import sqlite3
con = sqlite3.connect(dir_path+"queen.db", timeout=10)

In [ ]:
# con.execute("""DROP TABLE IF EXISTS Authors""")
# con.execute("""CREATE TABLE IF NOT EXISTS Authors (
#             author_id TEXT NOT NULL PRIMARY KEY UNIQUE,
#             name TEXT,
#             username TEXT,
#             description TEXT,
#             location TEXT,
#             verified INTEGER,
#             followers_count INTEGER,
#             following_count INTEGER,
#             tweet_count INTEGER,
#             listed_count INTEGER,
#             profile_image_url TEXT,
#             url TEXT);
# """)

In [ ]:
# con.execute("""DROP TABLE IF EXISTS Tweets""")
# con.execute("""CREATE TABLE IF NOT EXISTS Tweets (
#             tweet_id TEXT NOT NULL PRIMARY KEY UNIQUE,
#             author_id TEXT NOT NULL,
#             tweet_text TEXT NOT NULL,
#             country TEXT,
#             retweet_count INTEGER,
#             reply_count INTEGER,
#             like_count INTEGER,
#             quote_count INTEGER,    
#             FOREIGN KEY (author_id) REFERENCES Authors(author_id)
#         );
# """)
# # Note that we dropped `refereence_tweets` for now. We can come back later ...

In [ ]:
# con.execute("""DROP TABLE IF EXISTS Retweets""")
# con.execute("""CREATE TABLE Retweets (
#             tweet_id TEXT NOT NULL PRIMARY KEY UNIQUE,
#             original_tweet_id TEXT NOT NULL,
#             author_id TEXT NOT NULL,
#             original_author_id TEXT NOT NULL,
#             country TEXT,
#             retweet_count INTEGER,
#             reply_count INTEGER,
#             like_count INTEGER,
#             quote_count INTEGER,    
#             FOREIGN KEY (author_id) REFERENCES Authors(author_id),
#             FOREIGN KEY (original_author_id) REFERENCES Authors(author_id),
#             FOREIGN KEY (tweet_id) REFERENCES Tweets(tweet_id),
#             FOREIGN KEY (original_tweet_id) REFERENCES Tweets(tweet_id)
#             );
# """)
# # Note: The public metrics in this table refer to those of the retweets, not the original tweet.
# # Referenced tweets are all stored in the Tweets table (including text)

In [ ]:
# list all tables
con.execute("""SELECT name FROM sqlite_master WHERE type='table';""").fetchall()

[('Retweets',), ('Tweets',), ('Sentiment',), ('Authors',)]

## Populate tables

### Populate the Authors table
author_id, name, username, description, location, verified, followers_count, following_count, tweet_count, listed_count, profile_image_url, url

In [ ]:
# con.execute("PRAGMA table_info('Authors')").fetchall()

[(0, 'author_id', 'TEXT', 1, None, 1),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'username', 'TEXT', 0, None, 0),
 (3, 'description', 'TEXT', 0, None, 0),
 (4, 'location', 'TEXT', 0, None, 0),
 (5, 'verified', 'INTEGER', 0, None, 0),
 (6, 'followers_count', 'INTEGER', 0, None, 0),
 (7, 'following_count', 'INTEGER', 0, None, 0),
 (8, 'tweet_count', 'INTEGER', 0, None, 0),
 (9, 'listed_count', 'INTEGER', 0, None, 0),
 (10, 'profile_image_url', 'TEXT', 0, None, 0),
 (11, 'url', 'TEXT', 0, None, 0)]

In [ ]:
# # load authors from all_en_tweets.json
# con = sqlite3.connect(dir_path+"queen.db", timeout=500)
# cur = con.cursor()
# with open(dir_path+'all_en_tweets.json', 'r') as f:
#   i = 0
#   author_ids = set()
#   while True: 
#     if not i%200: # commit every 200 entries
#       con.commit()
#       con = sqlite3.connect(dir_path+"queen.db", timeout=500)
#       cur = con.cursor()
#     line = f.readline()
#     if not line: # if line is empty
#       break
#     t = json.loads(line) # tweet
#     a = t['author']
#     if a['id'] not in author_ids: # if author not added yet
#       cur.execute("""INSERT INTO Authors VALUES (?,?,?,?,?,?,?,?,?,?,?,?)""", 
#         ( a['id'], a['name'], a['username'], a['description'], a['location'] if 'location' in a else '', int(a['verified']), 
#         a['public_metrics']['followers_count'], a['public_metrics']['following_count'], a['public_metrics']['tweet_count'], 
#         a['public_metrics']['listed_count'], a['profile_image_url'], a['url'] if 'url' in a else '')
#       )
#       i += 1
#       author_ids.add(a['id'])
#   con.commit()

In [ ]:
# con.execute('select count(*) from Authors').fetchall()#, len(author_ids) # 2459678

[(2459678,)]

In [ ]:
# # load original authors from retweets.json (i.e. authors of tweets being retweeted)
# con = sqlite3.connect(dir_path+"queen.db", timeout=500)
# cur = con.cursor()
# author_ids = con.execute('select author_id from Authors').fetchall()
# author_ids = {a[0] for a in author_ids}
# with open(dir_path+'retweets.json', 'r') as f:
#   i = 0
#   while True: 
#     if not i%200: # commit every 200 entries
#       con.commit()
#       con = sqlite3.connect(dir_path+"queen.db", timeout=500)
#       cur = con.cursor()
#     line = f.readline()
#     if not line: # if line is empty
#       break
#     t = json.loads(line) # tweet
#     if 'referenced_tweets' in t: # if so, then t['referenced_tweets'] is always a list of len 1
#       if 'author' not in t['referenced_tweets'][0]:
#         continue # some really don't have author
#       a = t['referenced_tweets'][0]['author']
#     else:
#       continue
#     if a['id'] not in author_ids: # if author not added yet
#       cur.execute("""INSERT INTO Authors VALUES (?,?,?,?,?,?,?,?,?,?,?,?)""", 
#         ( a['id'], a['name'], a['username'], a['description'], a['location'] if 'location' in a else '', int(a['verified']), 
#         a['public_metrics']['followers_count'], a['public_metrics']['following_count'], a['public_metrics']['tweet_count'], 
#         a['public_metrics']['listed_count'], a['profile_image_url'], a['url'] if 'url' in a else '')
#       )
#       i += 1
#       author_ids.add(a['id'])
#   con.commit()

In [ ]:
# con.execute('select count(*) from Authors').fetchall() # 2460377

[(2460377,)]

In [ ]:
# con.execute('select count(distinct(location)) from Authors').fetchall() # 578740
con.execute("select count(*) from Authors where location=''").fetchall() # 829048 out of 2460377 don't have location

[(829048,)]

### Populate the Tweets table

In [ ]:
con.execute("PRAGMA table_info('Tweets')").fetchall()

[(0, 'tweet_id', 'TEXT', 1, None, 1),
 (1, 'author_id', 'TEXT', 1, None, 0),
 (2, 'tweet_text', 'TEXT', 1, None, 0),
 (3, 'country', 'TEXT', 0, None, 0),
 (4, 'retweet_count', 'INTEGER', 0, None, 0),
 (5, 'reply_count', 'INTEGER', 0, None, 0),
 (6, 'like_count', 'INTEGER', 0, None, 0),
 (7, 'quote_count', 'INTEGER', 0, None, 0)]

In [ ]:
# # From tweets.json
# con = sqlite3.connect(dir_path+"queen.db", timeout=10)
# cur = con.cursor()
# tweet_ids = set()
# with open(dir_path+'tweets.json', 'r') as f:
#   i = 0
#   while True: 
#     if not i%200: # commit every 200 entries
#       con.commit()
#       con = sqlite3.connect(dir_path+"queen.db", timeout=10)
#       cur = con.cursor()
#     line = f.readline()
#     if not line: # if line is empty
#       break
#     t = json.loads(line) # tweet
#     if t['id'] not in tweet_ids: # if tweet not added yet
#       cur.execute("""INSERT INTO Tweets VALUES (?,?,?,?,?,?,?,?)""", 
#         ( t['id'], t['author_id'], t['text'], t['geo']['country'] if 'geo' in t else '',
#           t['public_metrics']['retweet_count'], t['public_metrics']['reply_count'],
#           t['public_metrics']['like_count'], t['public_metrics']['quote_count'])
#       )
#       i += 1
#       tweet_ids.add(t['id'])
#   con.commit()

In [ ]:
con.execute('select count(*) from Tweets').fetchall() #, len(tweet_ids) # 795645

[(795645,)]

In [ ]:
con.execute("select count(*), count(distinct(country)) from Tweets where country!=''").fetchall()
# # out of 15583 tweets with country, there are 160 countries in total

[(15583, 160)]

In [ ]:
# # From retweets.json
# con = sqlite3.connect(dir_path+"queen.db", timeout=10)
# cur = con.cursor()
# with open(dir_path+'retweets.json', 'r') as f:
#   i = 0
#   while True:
#     if not i%200: # commit every 200 entries
#       con.commit()
#       con = sqlite3.connect(dir_path+"queen.db", timeout=10)
#       cur = con.cursor()
#     line = f.readline()
#     if not line: # if line is empty
#       break
#     t = json.loads(line) # tweet
#     if 'referenced_tweets' in t: # if the refereced tweet is present
#       if t['referenced_tweets'][0]['type']=='retweeted':
#         t = t['referenced_tweets'][0]
#       # else, there is either no referenced_tweets or it is 
#       # quoted (this has been checked), so we treat the parent 
#       # tweet object as a regular tweet
#     if t['id'] not in tweet_ids: # if tweet not added yet
#       # dealing with country. Better to use place id and their reverse geocoding 
#       geo = t['geo'] if 'geo' in t else ''
#       if geo!='':
#         geo = geo['country'] if 'country' in geo else ''
#       cur.execute("""INSERT INTO Tweets VALUES (?,?,?,?,?,?,?,?)""", 
#         ( t['id'], t['author_id'], t['text'], geo,
#           t['public_metrics']['retweet_count'], t['public_metrics']['reply_count'],
#           t['public_metrics']['like_count'], t['public_metrics']['quote_count'])
#       )
#     i += 1
#     tweet_ids.add(t['id'])         
#   con.commit()

In [ ]:
# con.execute('select count(*) from Tweets').fetchall() #, len(tweet_ids) # 795645
# con.execute("select count(*), count(distinct(country)) from Tweets where country!=''").fetchall() # nothing is added ...

[(15583, 160)]

### Populate the Retweet table

In [ ]:
con.execute("PRAGMA table_info('Retweets')").fetchall()

[(0, 'tweet_id', 'TEXT', 1, None, 1),
 (1, 'original_tweet_id', 'TEXT', 1, None, 0),
 (2, 'author_id', 'TEXT', 1, None, 0),
 (3, 'original_author_id', 'TEXT', 1, None, 0),
 (4, 'country', 'TEXT', 0, None, 0),
 (5, 'retweet_count', 'INTEGER', 0, None, 0),
 (6, 'reply_count', 'INTEGER', 0, None, 0),
 (7, 'like_count', 'INTEGER', 0, None, 0),
 (8, 'quote_count', 'INTEGER', 0, None, 0)]

In [ ]:
# # From retweets.json, took 1.5 hrs
# con = sqlite3.connect(dir_path+"queen.db", timeout=10)
# cur = con.cursor()
# retweet_ids = con.execute('select tweet_id from Retweets').fetchall()
# retweet_ids = {t[0] for t in retweet_ids}
# with open(dir_path+'retweets.json', 'r') as f:
#   i = 0
#   while True:
#     if not i%200: # commit every 200 entries
#       con.commit()
#       con = sqlite3.connect(dir_path+"queen.db", timeout=10)
#       cur = con.cursor()
#     line = f.readline()
#     if not line: # if line is empty
#       break
#     t = json.loads(line) # tweet
#     if t['id'] in retweet_ids:
#       continue # already added
#     if 'referenced_tweets' in t: # if the refereced tweet is present
#       if t['referenced_tweets'][0]['type']=='retweeted':
#         tt = t['referenced_tweets'][0]
#       else:
#         continue
#     else:
#       continue
#     if 'author_id' not in tt:
#       continue
#     cur.execute("""INSERT INTO Retweets VALUES (?,?,?,?,?,?,?,?,?)""", 
#       ( t['id'], tt['id'], t['author_id'], tt['author_id'], t['geo']['country'] if 'geo' in t else '',
#         t['public_metrics']['retweet_count'], t['public_metrics']['reply_count'],
#         t['public_metrics']['like_count'], t['public_metrics']['quote_count'])
#     )
#     i += 1         
#   con.commit()

In [ ]:
# con.execute("PRAGMA index_list(Retweets)").fetchall()
# con.execute('select count(tweet_id) from Retweets').fetchall() # Too slow
# con.execute("SELECT MAX(_ROWID_) FROM Retweets LIMIT 1").fetchall() # 3637269
con.execute("select count(*), count(distinct(country)) from Retweets where country!=''").fetchall() # nothing

[(0, 0)]

# Tweet Location

In [ ]:
import sqlite3
con = sqlite3.connect(dir_path+"queen.db", timeout=10)

In [ ]:
results = con.execute('''SELECT country, count(country) from Tweets where country!='' group by country''')

In [ ]:
results = list(results)

In [ ]:
df = pd.DataFrame(results).rename(columns={0:'country', 1:'count'})

In [ ]:
import plotly.express as px
fig = px.pie(values=df['count'], names=df['country'])
fig.update_layout(title=f"Tweet location by country (N={df['count'].sum()})", title_x=0.5)
fig.update_traces(textposition='inside',textinfo='percent+label', showlegend=False)

# Author Location: Country Identification
WARNING: DON'T USE THIS PART. THIS TAST WAS DONE SOMEWHERE ELSE. ONLY REFER TO THE OVERPASS API PART


- Country names https://pypi.org/project/pycountry/, 
https://github.com/flyingcircusio/pycountry
- US state names https://pypi.org/project/us/, https://github.com/unitedstates/python-us

In [7]:
# !pip install pycountry
# !pip install us

In [6]:
DC_STATEHOOD=1 # indicating that D.C. is a state in the us module
import pycountry
import us

In [4]:
# con = sqlite3.connect(dir_path+"queen.db", timeout=10)
# results = con.execute('''SELECT author_id, location from Authors where location!='' ''')
# results = list(results)

In [6]:
# df = pd.DataFrame(results).rename(columns={0:'author_id', 1:'location'})
# df_loc = df['location'].value_counts().reset_index().rename(columns={'index':'location', 'location':'count'})
# len(df_loc), df_loc['count'].sum()

(578739, 1631329)

In [ ]:
# df_loc.to_csv(dir_path+'author_locations_with_count_no_country.csv')

In [14]:
# Get country names and flags from pycountry
all_countries = list(pycountry.countries)
df_country = pd.DataFrame({'name': [c.name if 'name' in c._fields else None for c in all_countries],
              'common_name': [c.common_name if 'common_name' in c._fields else None for c in all_countries],
              'official_name': [c.official_name if 'official_name' in c._fields else None for c in all_countries],
              'alpha_2': [c.alpha_2 for c in all_countries],
              'flag': [c.flag for c in all_countries]})
countries_dict = {idx:{n for n in names if n is not None} for idx, names in df_country[['name','common_name','official_name']].iterrows()}

In [ ]:
# countries_dict
df_country.head(2)

          name common_name                    official_name alpha_2 flag
0        Aruba        None                             None      AW   🇦🇼
1  Afghanistan        None  Islamic Republic of Afghanistan      AF   🇦🇫

In [15]:
# Since we are matching substrings it is important to use longer strings first (e.g. Nigeria vs Niger)
countries_list = [(i,c) for i, names in countries_dict.items() for c in names]
countries_list.sort(key=lambda x: len(x[1]), reverse=True)
countries_list[:3]

[(79, 'United Kingdom of Great Britain and Northern Ireland'),
 (96, 'Hong Kong Special Administrative Region of China'),
 (135, 'Macao Special Administrative Region of China')]

## Round 1: cleaning non-letters
Declare the country of those <2 chars after cleaning as not found, but do this after we make use of the country flags

In [ ]:
# !pip install clean-text
from cleantext import clean

In [ ]:
def preprocess_location(s):
  s = clean(s, fix_unicode=False, to_ascii=False, no_emoji=True)
  s = re.sub(f'[{string.punctuation}0-9]', '', s)
  return s.strip()

In [ ]:
# df_loc['country'] = np.nan
# df_loc['location_original'] = df_loc['location']
# df_loc['location'] = df_loc.location_original.apply(preprocess_location)

## Round 2: Country exact matching

In [ ]:
# # Took 6 min
# # if any country name matches a substring of the location, identify that country
# for c_idx, c_name in countries_list: # for each country name
#   temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
#   idx = temp[temp.location.str.contains(c_name, case=False)].index
#   df_loc.loc[idx, 'country']= df_country.loc[c_idx,'name']
# len(df_loc[~df_loc.country.isna()]), len(df_loc)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

(48802, 578739)

In [ ]:
# # if country flag is present, identify that country
# # # note that we must use location_original as the flags were removed in location
# for c_idx, c_flag in df_country.flag.items(): # for each country flag
#   temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
#   idx = temp[temp.location_original.str.contains(c_flag, case=False)].index
#   df_loc.loc[idx, 'country'] = df_country.loc[c_idx, 'name']
# len(df_loc[~df_loc.country.isna()]), len(df_loc)

(65881, 578739)

In [ ]:
# # Note: This should come after identifying US states
# # if <2 chars, then no country can be inferred
# temp = df_loc[df_loc.country.isna()]
# idx = temp[temp.location.apply(lambda s: len(s)<2)].index
# df_loc.loc[idx, 'country'] = 'NOT_FOUND'
# len(df_loc[~df_loc.country.isna()]), len(df_loc)

(77144, 578739)

Manually looked into the keyword Georgia
- If the location is precisely 'Georgia' or contains 'Tbilisi' then we assume its the country of Georia
- Otherwise we assume it is the US state of Georgia

In [16]:
[(i,c) for i,c in enumerate(all_countries) if c.name=='United States' or c.name=='Georgia']

[(80,
  Country(alpha_2='GE', alpha_3='GEO', flag='🇬🇪', name='Georgia', numeric='268')),
 (234,
  Country(alpha_2='US', alpha_3='USA', flag='🇺🇸', name='United States', numeric='840', official_name='United States of America'))]

In [ ]:
# # First set it to the US
# df_loc.loc[df_loc[df_loc.location.str.contains('Georgia', case=False)].index, 'country'] = 'United States'
# df_loc.loc[df_loc[df_loc.location.str.contains(all_countries[234].flag)].index, 'country'] = 'United States'
# # Next deal with the country of Georgia
# df_loc.loc[df_loc[df_loc.location=='Georgia'].index, 'country'] = 'Georgia'
# df_loc.loc[df_loc[df_loc.location.str.contains('Tbilisi', case=False)].index, 'country'] = 'Georgia'
# df_loc.loc[df_loc[df_loc.location.str.contains(all_countries[80].flag)].index, 'country'] = 'Georgia'

### Second round: USA and UK
- Do this to take care of a large number of entries before going into matching with subdivision data, which is expensive
- US is not safe (e.g. AUS for Australia)
- US territories are treated separately

In [ ]:
# # UK
# temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
# uk_idx = temp[temp.location.str.contains('U\.?K\.?$', case=False)].index
# df_loc.loc[uk_idx, 'country']= 'United Kingdom'
# # USA
# temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
# usa_idx = temp[temp.location.str.contains('U\.?S\.?A\.?')].index
# df_loc.loc[usa_idx, 'country']= 'United States'
# len(df_loc[~df_loc.country.isna()]), len(df_loc)

(83553, 578739)

### US States with abbreviations

In [17]:
us_states = us.states.STATES + [us.states.DC]
df_us_states = pd.DataFrame({'state_name': [s.name for s in us_states], 'state_abbr': [s.abbr for s in us_states]})
df_us_states.head(3)

  state_name state_abbr
0    Alabama         AL
1     Alaska         AK
2    Arizona         AZ

In [18]:
us_states_list = list(df_us_states.state_name)
us_states_list.sort(key=lambda x: len(x), reverse=True)
us_states_list.remove('Georgia')

In [ ]:
# # D.C.
# temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
# idx = temp[temp.location.str.contains('Washington\s*,?\s*D\.?C\.?')].index
# df_loc.loc[idx, 'country']= 'United States'
# len(df_loc[~df_loc.country.isna()]), len(df_loc)

(83553, 578739)

In [ ]:
# for s in us_states_list: # note that Georgia was removed
#   temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
#   idx = temp[temp.location.str.contains(s)].index
#   df_loc.loc[idx, 'country']= 'United States'
# len(df_loc[~df_loc.country.isna()]), len(df_loc)

(83553, 578739)

In [ ]:
# # Don't do this for consistency. Use Overpass instead
# # US territories 
# for terr in us.TERRITORIES:
#   temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
#   idx = temp[temp.location.str.contains(terr.name)].index
#   df_loc.loc[idx, 'country']= terr.name
# len(df_loc[~df_loc.country.isna()]), len(df_loc)

### US states abbreviation

In [ ]:
# for s in df_us_states.state_abbr:
#   temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
#   idx = temp[temp.location.str.contains(f', {s}\.?(\W|$)')].index
#   df_loc.loc[idx, 'country']= 'United States'
# len(df_loc[~df_loc.country.isna()]), len(df_loc)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

(83553, 578739)

## pycountry subdivisions

In [8]:
subdiv = list(pycountry.subdivisions)
subdiv_dict = dict()
for s in subdiv:
  c_code = s.country_code
  if c_code not in subdiv_dict:
    subdiv_dict[c_code] = set()
  subdiv_dict[c_code].add(s.name)
len(subdiv_dict), sum([len(p) for p in subdiv_dict.values()])

(200, 5080)

In [ ]:
# for c_code in subdiv_dict:
#   assert c_code in set(df_country.alpha_2.values)

In [ ]:
# for c_code, place_set in subdiv_dict.items():
#   print(f'{c_code}, {len(place_set)} places to check ...')
#   for p in place_set:
#     if '[' in p: # this causes regex to complain; also make sense to remove them
#       p = re.sub('\[.*\]', '', p).strip()
#     temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
#     idx = temp[temp.location.str.contains(f'(\W|^){p}(\W|$)', case=False)].index
#     c_idx = df_country[df_country['alpha_2']==c_code].index[0]
#     df_loc.loc[idx, 'country']= df_country.loc[c_idx, 'name']
# len(df_loc[~df_loc.country.isna()]), len(df_loc)

(144155, 578739)

In [ ]:
# df_loc.to_csv(dir_path+'location_with_pycountry.csv')

In [10]:
# df_loc = pd.read_csv(dir_path+'location_with_pycountry.csv')
# df_loc['location'] = df_loc.location.fillna('')

## Overpass API

- Tutorial: https://osm-queries.ldodds.com/tutorial/22-areas.osm.html
- OSM documentation: https://wiki.openstreetmap.org/wiki/Key:place

In [ ]:
# !pip install overpy

In [22]:
# import overpy
# api = overpy.Overpass() # 10k requests per day

In [ ]:
# # Example
# result = api.query("""area["ISO3166-1"="AE"]->.a1;
# (
#   node[place="state"](area.a1);
#   node[place="province"](area.a1);
#   node[place="region"](area.a1);
#   node[place="district"](area.a1);
#   node[place="county"](area.a1);
#   node[place="municipality"](area.a1);
#   node[place="city"](area.a1);
# );
# out tags;""")
# # node[place="town"](area.a1); # add this if more locations are needed
# [ [c.tags['name'],c.tags['name:en'] if 'name:en' in c.tags else None] for c in result.nodes]

In [ ]:
# # Get places in countries
# # with open(dir_path + 'osm_places.json', 'w') as f:
# with open(dir_path + 'osm_places.json', 'a') as f:
#   # for countrycode in df_country_names.alpha_2:
#     success = False
#     while not success:
#       try:
#         result = api.query(f"""area["ISO3166-1"="{countrycode}"]->.a1;
#           (
#             node[place="state"](area.a1);
#             node[place="province"](area.a1);
#             node[place="region"](area.a1);
#             node[place="district"](area.a1);
#             node[place="county"](area.a1);
#             node[place="municipality"](area.a1);
#             node[place="city"](area.a1);
#           );
#           out tags;""")
#         success = True
#       except overpy.exception.OverpassTooManyRequests:
#         print("OverpassTooManyRequests encountered when loading " + countrycode)
#         time.sleep(10)
#       except overpy.exception.OverpassGatewayTimeout
#         print("OverpassGatewayTimeout encountered when loading " + countrycode)
#         time.sleep(10)
#     p = {countrycode: [ [c.tags['name'] if 'name' in c.tags else None ,
#                  c.tags['name:en'] if 'name:en' in c.tags else None] 
#               for c in result.nodes] }
#     f.write(json.dumps(p)+'\n')
#     print(f'{countrycode} added')
#     time.sleep(10)

In [11]:
with open(dir_path + 'osm_places.json', 'r') as f:
  s = f.readlines()
places = [json.loads(p) for p in s]
places = {list(country.keys())[0]:list(country.values())[0] for country in places}
for k,v in places.items():
  if v==[]:
    places[k] = [set()]
places = {k:functools.reduce(lambda x,y: set(x).union(y),v) for k,v in places.items()}

In [33]:
# # Took forever
# for name, c_code in df_country[['name','alpha_2']].values:
#   if c_code not in places:
#     continue
#   place_set = places[c_code] # places in the country
#   print(f'Searching for matches in {name}, {len(place_set)} places ...', end='')
#   start_time = time.time()
#   num_matches = 0
#   for p in place_set:
#     temp = df_loc[df_loc.country.isna()] # work with rows not identified yet
#     idx = temp[temp.location.str.contains(f'(\W|^){p}(\W|$)', case=False)].index
#     df_loc.loc[idx, 'country']= name
#     num_matches += len(idx)
#   print(f'Took {int(time.time()-start_time)} seconds, found {num_matches} matches')

Searching for matches in Aruba, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Afghanistan, 830 places ...

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  # This is added back by InteractiveShellApp.init_path()

Took 510 seconds, found 346 matches
Searching for matches in Angola, 37 places ...Took 23 seconds, found 1 matches
Searching for matches in Anguilla, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Åland Islands, 4 places ...Took 2 seconds, found 2 matches
Searching for matches in Albania, 22 places ...Took 15 seconds, found 5 matches
Searching for matches in Andorra, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in United Arab Emirates, 48 places ...Took 26 seconds, found 290 matches
Searching for matches in Argentina, 108 places ...Took 60 seconds, found 253 matches
Searching for matches in Armenia, 24 places ...Took 14 seconds, found 11 matches
Searching for matches in American Samoa, 1 places ...Took 0 seconds, found 0 matches
Searching for matches in Antarctica, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in French Southern Territories, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Antigua and Barbuda, 6 places ...Took 4 seconds, found 0 matches
Searching for matches in Australia, 88 places ...Took 51 seconds, found 1657 matches
Searching for matches in Austria, 42 places ...Took 24 seconds, found 63 matches
Searching for matches in Azerbaijan, 39 places ...Took 23 seconds, found 3 matches
Searching for matches in Burundi, 20 places ...Took 13 seconds, found 2 matches
Searching for matches in Belgium, 22 places ...Took 13 seconds, found 135 matches
Searching for matches in Benin, 42 places ...Took 24 seconds, found 16 matches
Searching for matches in Bonaire, Sint Eustatius and Saba, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Burkina Faso, 8 places ...Took 5 seconds, found 3 matches
Searching for matches in Bangladesh, 154 places ...Took 100 seconds, found 1 matches
Searching for matches in Bulgaria, 54 places ...Took 38 seconds, found 7 matches
Searching for matches in Bahrain, 8 places ...Took 4 seconds, found 11 matches
Searching for matches in Bahamas, 10 places ...Took 6 seconds, found 20 matches
Searching for matches in Bosnia and Herzegovina, 12 places ...Took 7 seconds, found 23 matches
Searching for matches in Saint Barthélemy, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Belarus, 42 places ...Took 26 seconds, found 30 matches
Searching for matches in Belize, 9 places ...Took 4 seconds, found 0 matches
Searching for matches in Bermuda, 2 places ...Took 1 seconds, found 67 matches
Searching for matches in Bolivia, Plurinational State of, 158 places ...Took 83 seconds, found 417 matches
Searching for matches in Brazil, 388 places ...Took 223 seconds, found 1612 matches
Searching for matches in Barbados, 2 places ...Took 1 seconds, found 1 matches
Searching for matches in Brunei Darussalam, 2 places ...Took 0 seconds, found 4 matches
Searching for matches in Bhutan, 53 places ...Took 24 seconds, found 0 matches
Searching for matches in Bouvet Island, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Botswana, 17 places ...Took 8 seconds, found 16 matches
Searching for matches in Central African Republic, 38 places ...Took 24 seconds, found 137 matches
Searching for matches in Canada, 650 places ...Took 341 seconds, found 7610 matches
Searching for matches in Cocos (Keeling) Islands, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Switzerland, 55 places ...Took 29 seconds, found 75 matches
Searching for matches in Chile, 87 places ...Took 46 seconds, found 118 matches
Searching for matches in China, 6458 places ...Took 4187 seconds, found 9402 matches
Searching for matches in Côte d'Ivoire, 37 places ...Took 24 seconds, found 370 matches
Searching for matches in Cameroon, 65 places ...Took 40 seconds, found 347 matches
Searching for matches in Congo, The Democratic Republic of the, 91 places ...Took 53 seconds, found 29 matches
Searching for matches in Congo, 17 places ...Took 9 seconds, found 0 matches
Searching for matches in Cook Islands, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Colombia, 89 places ...Took 50 seconds, found 427 matches
Searching for matches in Comoros, 6 places ...Took 2 seconds, found 2 matches
Searching for matches in Cabo Verde, 3 places ...Took 1 seconds, found 0 matches
Searching for matches in Costa Rica, 17 places ...Took 9 seconds, found 1 matches
Searching for matches in Cuba, 48 places ...Took 27 seconds, found 105 matches
Searching for matches in Curaçao, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Christmas Island, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Cayman Islands, 8 places ...Took 4 seconds, found 7 matches
Searching for matches in Cyprus, 13 places ...Took 7 seconds, found 14 matches
Searching for matches in Czechia, 11 places ...Took 6 seconds, found 84 matches
Searching for matches in Germany, 890 places ...Took 478 seconds, found 679 matches
Searching for matches in Djibouti, 20 places ...Took 10 seconds, found 0 matches
Searching for matches in Dominica, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Denmark, 12 places ...Took 6 seconds, found 45 matches
Searching for matches in Dominican Republic, 61 places ...Took 32 seconds, found 7 matches
Searching for matches in Algeria, 104 places ...Took 55 seconds, found 11 matches
Searching for matches in Ecuador, 213 places ...Took 102 seconds, found 66 matches
Searching for matches in Egypt, 195 places ...Took 108 seconds, found 224 matches
Searching for matches in Eritrea, 18 places ...Took 7 seconds, found 5 matches
Searching for matches in Western Sahara, 14 places ...Took 8 seconds, found 3 matches
Searching for matches in Spain, 273 places ...Took 153 seconds, found 609 matches
Searching for matches in Estonia, 2 places ...Took 1 seconds, found 0 matches
Searching for matches in Ethiopia, 135 places ...Took 71 seconds, found 19 matches
Searching for matches in Finland, 34 places ...Took 21 seconds, found 73 matches
Searching for matches in Fiji, 4 places ...Took 2 seconds, found 10 matches
Searching for matches in Falkland Islands (Malvinas), 2 places ...Took 1 seconds, found 15 matches
Searching for matches in France, 110 places ...Took 56 seconds, found 755 matches
Searching for matches in Faroe Islands, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Micronesia, Federated States of, 12 places ...Took 6 seconds, found 0 matches
Searching for matches in Gabon, 13 places ...Took 8 seconds, found 3 matches
Searching for matches in United Kingdom, 158 places ...Took 99 seconds, found 7381 matches
Searching for matches in Georgia, 43 places ...Took 23 seconds, found 5 matches
Searching for matches in Guernsey, 2 places ...Took 1 seconds, found 5 matches
Searching for matches in Ghana, 32 places ...Took 15 seconds, found 877 matches
Searching for matches in Gibraltar, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Guinea, 16 places ...Took 9 seconds, found 0 matches
Searching for matches in Guadeloupe, 3 places ...Took 1 seconds, found 0 matches
Searching for matches in Gambia, 3 places ...Took 1 seconds, found 1 matches
Searching for matches in Guinea-Bissau, 3 places ...Took 1 seconds, found 0 matches
Searching for matches in Equatorial Guinea, 13 places ...Took 8 seconds, found 2 matches
Searching for matches in Greece, 90 places ...Took 55 seconds, found 206 matches
Searching for matches in Grenada, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Greenland, 15 places ...Took 8 seconds, found 1 matches
Searching for matches in Guatemala, 31 places ...Took 16 seconds, found 3 matches
Searching for matches in French Guiana, 6 places ...Took 3 seconds, found 0 matches
Searching for matches in Guam, 2 places ...Took 1 seconds, found 0 matches
Searching for matches in Guyana, 65 places ...Took 27 seconds, found 370 matches
Searching for matches in Hong Kong, 8 places ...Took 3 seconds, found 0 matches
Searching for matches in Heard Island and McDonald Islands, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Honduras, 25 places ...Took 12 seconds, found 12 matches
Searching for matches in Croatia, 39 places ...Took 20 seconds, found 31 matches
Searching for matches in Haiti, 47 places ...Took 26 seconds, found 53 matches
Searching for matches in Hungary, 78 places ...Took 39 seconds, found 0 matches
Searching for matches in Indonesia, 632 places ...Took 338 seconds, found 700 matches
Searching for matches in Isle of Man, 2 places ...Took 1 seconds, found 17 matches
Searching for matches in India, 699 places ...Took 397 seconds, found 1486 matches
Searching for matches in British Indian Ocean Territory, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Ireland, 5 places ...Took 2 seconds, found 0 matches
Searching for matches in Iran, Islamic Republic of, 227 places ...Took 126 seconds, found 90 matches
Searching for matches in Iraq, 171 places ...Took 93 seconds, found 57 matches
Searching for matches in Iceland, 6 places ...Took 3 seconds, found 14 matches
Searching for matches in Israel, 74 places ...Took 42 seconds, found 41 matches
Searching for matches in Italy, 376 places ...Took 190 seconds, found 733 matches
Searching for matches in Jamaica, 5 places ...Took 2 seconds, found 11 matches
Searching for matches in Jersey, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Jordan, 52 places ...Took 26 seconds, found 41 matches
Searching for matches in Japan, 2422 places ...Took 1428 seconds, found 4911 matches
Searching for matches in Kazakhstan, 85 places ...Took 40 seconds, found 13 matches
Searching for matches in Kenya, 20 places ...Took 11 seconds, found 170 matches
Searching for matches in Kyrgyzstan, 14 places ...Took 7 seconds, found 6 matches
Searching for matches in Cambodia, 67 places ...Took 35 seconds, found 5 matches
Searching for matches in Kiribati, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Saint Kitts and Nevis, 16 places ...Took 7 seconds, found 4 matches
Searching for matches in Korea, Republic of, 360 places ...Took 215 seconds, found 268 matches
Searching for matches in Kuwait, 10 places ...Took 5 seconds, found 4 matches
Searching for matches in Lao People's Democratic Republic, 62 places ...Took 35 seconds, found 3 matches
Searching for matches in Lebanon, 18 places ...Took 12 seconds, found 27 matches
Searching for matches in Liberia, 17 places ...Took 9 seconds, found 4 matches
Searching for matches in Libya, 106 places ...Took 60 seconds, found 36 matches
Searching for matches in Saint Lucia, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Liechtenstein, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Sri Lanka, 55 places ...Took 29 seconds, found 3 matches
Searching for matches in Lesotho, 12 places ...Took 6 seconds, found 0 matches
Searching for matches in Lithuania, 5 places ...Took 2 seconds, found 0 matches
Searching for matches in Luxembourg, 2 places ...Took 1 seconds, found 0 matches
Searching for matches in Latvia, 20 places ...Took 13 seconds, found 12 matches
Searching for matches in Macao, 2 places ...Took 1 seconds, found 0 matches
Searching for matches in Saint Martin (French part), 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Morocco, 135 places ...Took 67 seconds, found 29 matches
Searching for matches in Monaco, 2 places ...Took 1 seconds, found 0 matches
Searching for matches in Moldova, Republic of, 20 places ...Took 11 seconds, found 1 matches
Searching for matches in Madagascar, 30 places ...Took 14 seconds, found 14 matches
Searching for matches in Maldives, 8 places ...Took 4 seconds, found 3 matches
Searching for matches in Mexico, 202 places ...Took 107 seconds, found 470 matches
Searching for matches in Marshall Islands, 2 places ...Took 1 seconds, found 0 matches
Searching for matches in North Macedonia, 30 places ...Took 17 seconds, found 24 matches
Searching for matches in Mali, 56 places ...Took 31 seconds, found 821 matches
Searching for matches in Malta, 3 places ...Took 1 seconds, found 0 matches
Searching for matches in Myanmar, 114 places ...Took 65 seconds, found 28 matches
Searching for matches in Montenegro, 10 places ...Took 6 seconds, found 0 matches
Searching for matches in Mongolia, 84 places ...Took 47 seconds, found 8 matches
Searching for matches in Northern Mariana Islands, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Mozambique, 27 places ...Took 19 seconds, found 7 matches
Searching for matches in Mauritania, 162 places ...Took 88 seconds, found 2 matches
Searching for matches in Montserrat, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Martinique, 2 places ...Took 1 seconds, found 0 matches
Searching for matches in Mauritius, 6 places ...Took 2 seconds, found 0 matches
Searching for matches in Malawi, 6 places ...Took 3 seconds, found 2 matches
Searching for matches in Malaysia, 177 places ...Took 89 seconds, found 348 matches
Searching for matches in Mayotte, 2 places ...Took 1 seconds, found 0 matches
Searching for matches in Namibia, 23 places ...Took 13 seconds, found 29 matches
Searching for matches in New Caledonia, 2 places ...Took 1 seconds, found 0 matches
Searching for matches in Niger, 54 places ...Took 37 seconds, found 85 matches
Searching for matches in Norfolk Island, 3 places ...Took 2 seconds, found 0 matches
Searching for matches in Nigeria, 100 places ...Took 63 seconds, found 360 matches
Searching for matches in Nicaragua, 224 places ...Took 104 seconds, found 526 matches
Searching for matches in Niue, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Netherlands, 54 places ...Took 29 seconds, found 292 matches
Searching for matches in Norway, 24 places ...Took 13 seconds, found 77 matches
Searching for matches in Nepal, 47 places ...Took 23 seconds, found 38 matches
Searching for matches in Nauru, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in New Zealand, 25 places ...Took 12 seconds, found 70 matches
Searching for matches in Oman, 295 places ...Took 150 seconds, found 35 matches
Searching for matches in Pakistan, 413 places ...Took 215 seconds, found 417 matches
Searching for matches in Panama, 14 places ...Took 8 seconds, found 34 matches
Searching for matches in Pitcairn, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Peru, 460 places ...Took 222 seconds, found 229 matches
Searching for matches in Philippines, 232 places ...Took 124 seconds, found 431 matches
Searching for matches in Palau, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Papua New Guinea, 110 places ...Took 49 seconds, found 4 matches
Searching for matches in Poland, 108 places ...Took 52 seconds, found 227 matches
Searching for matches in Puerto Rico, 10 places ...Took 5 seconds, found 92 matches
Searching for matches in Korea, Democratic People's Republic of, 86 places ...Took 50 seconds, found 15 matches
Searching for matches in Portugal, 162 places ...Took 84 seconds, found 149 matches
Searching for matches in Paraguay, 36 places ...Took 15 seconds, found 29 matches
Searching for matches in Palestine, State of, 39 places ...Took 22 seconds, found 6 matches
Searching for matches in French Polynesia, 3 places ...Took 2 seconds, found 0 matches
Searching for matches in Qatar, 4 places ...Took 2 seconds, found 16 matches
Searching for matches in Réunion, 5 places ...Took 2 seconds, found 0 matches
Searching for matches in Romania, 76 places ...Took 43 seconds, found 68 matches
Searching for matches in Russian Federation, 544 places ...Took 294 seconds, found 304 matches
Searching for matches in Rwanda, 14 places ...Took 7 seconds, found 26 matches
Searching for matches in Saudi Arabia, 137 places ...Took 79 seconds, found 305 matches
Searching for matches in Sudan, 192 places ...Took 103 seconds, found 610 matches
Searching for matches in Senegal, 20 places ...Took 11 seconds, found 3 matches
Searching for matches in Singapore, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in South Georgia and the South Sandwich Islands, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Saint Helena, Ascension and Tristan da Cunha, 3 places ...Took 1 seconds, found 0 matches
Searching for matches in Svalbard and Jan Mayen, 3 places ...Took 1 seconds, found 0 matches
Searching for matches in Solomon Islands, 11 places ...Took 6 seconds, found 1 matches
Searching for matches in Sierra Leone, 22 places ...Took 11 seconds, found 45 matches
Searching for matches in El Salvador, 66 places ...Took 35 seconds, found 14 matches
Searching for matches in San Marino, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Somalia, 132 places ...Took 69 seconds, found 24 matches
Searching for matches in Saint Pierre and Miquelon, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Serbia, 85 places ...Took 49 seconds, found 66 matches
Searching for matches in South Sudan, 30 places ...Took 17 seconds, found 11 matches
Searching for matches in Sao Tome and Principe, 2 places ...Took 1 seconds, found 1 matches
Searching for matches in Suriname, 12 places ...Took 5 seconds, found 0 matches
Searching for matches in Slovakia, 8 places ...Took 4 seconds, found 9 matches
Searching for matches in Slovenia, 5 places ...Took 2 seconds, found 0 matches
Searching for matches in Sweden, 316 places ...Took 164 seconds, found 110 matches
Searching for matches in Eswatini, 3 places ...Took 1 seconds, found 8 matches
Searching for matches in Sint Maarten (Dutch part), 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Seychelles, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Syrian Arab Republic, 68 places ...Took 38 seconds, found 25 matches
Searching for matches in Turks and Caicos Islands, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Chad, 184 places ...Took 100 seconds, found 36 matches
Searching for matches in Togo, 20 places ...Took 9 seconds, found 23 matches
Searching for matches in Thailand, 3333 places ...Took 1818 seconds, found 1090 matches
Searching for matches in Tajikistan, 22 places ...Took 10 seconds, found 1 matches
Searching for matches in Tokelau, 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Turkmenistan, 59 places ...Took 32 seconds, found 2 matches
Searching for matches in Timor-Leste, 3 places ...Took 1 seconds, found 2 matches
Searching for matches in Tonga, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Trinidad and Tobago, 5 places ...Took 2 seconds, found 23 matches
Searching for matches in Tunisia, 46 places ...Took 28 seconds, found 67 matches
Searching for matches in Turkey, 100 places ...Took 54 seconds, found 3 matches
Searching for matches in Tuvalu, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Taiwan, Province of China, 45 places ...Took 24 seconds, found 19 matches
Searching for matches in Tanzania, United Republic of, 317 places ...Took 144 seconds, found 4 matches
Searching for matches in Uganda, 32 places ...Took 18 seconds, found 34 matches
Searching for matches in Ukraine, 148 places ...Took 69 seconds, found 146 matches
Searching for matches in United States Minor Outlying Islands, 2 places ...Took 0 seconds, found 0 matches
Searching for matches in Uruguay, 55 places ...Took 26 seconds, found 126 matches
Searching for matches in United States, 2684 places ...Took 1391 seconds, found 29500 matches
Searching for matches in Uzbekistan, 338 places ...Took 139 seconds, found 42 matches
Searching for matches in Holy See (Vatican City State), 0 places ...Took 0 seconds, found 0 matches
Searching for matches in Saint Vincent and the Grenadines, 0 places ...Took 0 seconds, found 0 matches

In [4]:
# df_loc.to_csv(dir_path + 'author_location_osm.csv')
df_loc= pd.read_csv(dir_path + 'author_location_osm.csv')

In [21]:
len(df_loc[df_loc.country.isna()]), len(df_loc), df_loc[~df_loc.country.isna()]['count'].sum()/df_loc['count'].sum()

(351941, 578739, 0.6442820546928302)

In [24]:
df_loc[df_loc.country.isna()][:100]

,Unnamed: 0,Unnamed: 0.1,location,count,country,location_original
3,3,3,sheher,11947,NaN,she/her
20,20,20,hehim,4059,NaN,he/him
30,30,30,earth,3613,NaN,Earth
38,38,38,shethey,2715,NaN,she/they
40,40,40,brooklyn ny,2558,NaN,"Brooklyn, NY"
41,41,41,theythem,2450,NaN,they/them
57,57,57,brasil,1859,NaN,Brasil
66,66,66,sheher,1656,NaN,she/her
72,72,72,hell,1603,NaN,Hell
92,92,92,sheher,1393,NaN,She/her
94,94,94,hethey,1379,NaN,he/they
103,103,103,nyc,1307,NaN,NYC
108,108,108,日本,1223,NaN,日本
124,124,124,italia,1123,NaN,Italia
125,125,125,any pronouns,1122,NaN,any pronouns
130,130,130,hell,1097,NaN,hell
135,135,135,sheher,1086,NaN,She/Her
145,145,145,españa,1040,NaN,España
149,149,149,hehim,1008,NaN,He/Him
150,150,150,everywhere,1001,NaN,Everywhere
157,157,157,somewhere,968,NaN,Somewhere
162,162,162,planet earth,942,NaN,Planet Earth
163,163,163,deutschland,941,NaN,Deutschland
168,168,168,worldwide,872,NaN,Worldwide
177,177,177,europe,832,NaN,Europe
195,195,195,mars,747,NaN,Mars
206,206,206,global,691,NaN,Global
213,213,213,st louis mo,666,NaN,"St Louis, MO"
219,219,219,theyshe,643,NaN,they/she
220,220,220,bronx ny,642,NaN,"Bronx, NY"
228,228,228,cdmx,621,NaN,CDMX
234,234,234,ประเทศไทย,601,NaN,ประเทศไทย
248,248,248,i̇stanbul türkiye,579,NaN,"İstanbul, Türkiye"
249,249,249,africa,576,NaN,Africa
255,255,255,polska,554,NaN,Polska
264,264,264,ny,531,NaN,NY
272,272,272,nowhere,513,NaN,Nowhere
284,284,284,hehim,499,NaN,He/him
297,297,297,somewhere,482,NaN,somewhere
303,303,303,hogwarts,470,NaN,Hogwarts
304,304,304,home,470,NaN,Home
306,306,306,ciudad autónoma de buenos aire,469,NaN,Ciudad Autónoma de Buenos Aire
308,308,308,theythem,455,NaN,They/Them
312,312,312,here,445,NaN,Here
313,313,313,tx,445,NaN,TX
314,314,314,metaverse,443,NaN,Metaverse
318,318,318,earth,438,NaN,Earth
335,335,335,earth,413,NaN,earth
337,337,337,東京,410,NaN,東京
342,342,342,shethey,404,NaN,She/They
343,343,343,dmv,403,NaN,DMV
346,346,346,nj,400,NaN,NJ
347,347,347,theyhe,400,NaN,they/he
348,348,348,ur mom,396,NaN,ur mom
359,359,359,world,385,NaN,World
366,366,366,ur moms house,376,NaN,ur moms house
370,370,370,yorkshire,372,NaN,Yorkshire
372,372,372,nyc,370,NaN,nyc
382,382,382,日本 東京,361,NaN,日本 東京
383,383,383,hethey,361,NaN,He/They
398,398,398,hell mi,347,NaN,"Hell, MI"
413,413,413,nederland,334,NaN,Nederland
415,415,415,yorkshire and the humber,331,NaN,Yorkshire and The Humber
420,420,420,neverland,329,NaN,Neverland
424,424,424,eladela,328,NaN,ela/dela
436,436,436,space,318,NaN,Space
446,446,446,nc,307,NaN,NC
453,453,453,ldn,303,NaN,LDN
463,463,463,belgique,293,NaN,Belgique
464,464,464,ca,291,NaN,CA
469,469,469,everywhere,288,NaN,everywhere
472,472,472,україна,286,NaN,Україна
477,477,477,shethey,284,NaN,She/they
480,480,480,nowhere,282,NaN,nowhere
482,482,482,heaven,280,NaN,Heaven
494,494,494,pluto,275,NaN,Pluto
499,499,499,la,271,NaN,LA
501,501,501,hehim,269,NaN,he/him
503,503,503,brooklyn,267,NaN,Brooklyn
508,508,508,america,264,NaN,America
514,514,514,the moon,263,NaN,The Moon
515,515,515,us,262,NaN,US
517,517,517,shethey,261,NaN,she/they
522,522,522,your moms house,258,NaN,your moms house
528,528,528,any pronouns,255,NaN,any pronouns
534,534,534,unknown,254,NaN,Unknown
536,536,536,theythem,253,NaN,They/them
543,543,543,moon,250,NaN,Moon
550,550,550,home,248,NaN,home
555,555,555,المملكة العربية السعودية,246,NaN,المملكة العربية السعودية
556,556,556,pnw,246,NaN,PNW
562,562,562,wonderland,243,NaN,Wonderland
566,566,566,any prns,241,NaN,any prns
569,569,569,your mom,239,NaN,your mom
579,579,579,bruxelles belgique,236,NaN,"Bruxelles, Belgique"
587,587,587,wakanda,232,NaN,Wakanda
588,588,588,the void,231,NaN,The Void
592,592,592,philly,230,NaN,Philly
593,593,593,socal,230,NaN,SoCal
601,601,601,sheher,224,NaN,she/her 19

## More country

In [38]:
!pip install countryinfo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: countryinfo in /usr/local/lib/python3.7/dist-packages (0.1.2)

In [27]:
from countryinfo import CountryInfo

In [34]:
# country = CountryInfo('japan')

In [79]:
country_info_all = CountryInfo().all()

In [103]:
country_info_all = CountryInfo().all()
country_info = dict()
params_to_get = ['name', 'altSpellings', 'capital', 'nativeName', 'provinces']
for c in country_info_all:
  params = [p for p in params_to_get if p in country_info_all[c]]
  country_info[c] = {param: country_info_all[c][param] for param in params}
for c in country_info:
  if 'altSpellings' in country_info[c]:
    country_info[c]['altSpellings'] = country_info[c]['altSpellings'][1:] # the first entry is the two-letter code

In [103]:
country_info

In [ ]:
# temp = df_loc2[df_loc2.country.isna()]
# idx = temp[temp.location.str.contains('u\.?k\.?',case=False)].index
# df_loc2.loc[idx, 'country'] = 'United Kindgom'
# len(df_loc2[df_loc2.country.isna()])

50864

In [ ]:
# temp = df_loc2[df_loc2.country.isna()]
# idx = temp[temp.location.str.contains('n\.?y\.?c.?',case=False)].index
# df_loc2.loc[idx, 'country'] = 'United States'
# len(df_loc2[df_loc2.country.isna()])

50652

In [ ]:
# temp = df_loc2[df_loc2.country.isna()]
# idx = temp[temp.location.str.contains('日本|東京|大阪')].index
# df_loc2.loc[idx, 'country'] = 'Japan'
# len(df_loc2[df_loc2.country.isna()])

49329

In [ ]:
df_loc2[df_loc2.country.isna()]

                  location  count country  location_cleaned
72                    Hell   1603     NaN              hell
130                   hell   1097     NaN              hell
234              ประเทศไทย    601     NaN         ประเทศไทย
264                     NY    531     NaN                ny
273                     18    512     NaN          <number>
...                    ...    ...     ...               ...
578699  𝟝𝕥𝕙 𝕎𝔸ℝ𝔻 𝕋.𝕏.𝕋ℝ𝕀𝕃𝕃      1     NaN  0𝕥𝕙 𝕎𝔸ℝ𝔻 𝕋𝕏𝕋ℝ𝕀𝕃𝕃
578704                ぽらんど      1     NaN              ぽらんど
578716           𝐬𝐡𝐞 / 𝐡𝐞𝐫      1     NaN           𝐬𝐡𝐞 𝐡𝐞𝐫
578730         ・。.・゜✭・.・✫・      1     NaN               ゜✭✫
578734           だんご三兄弟の次男      1     NaN         だんご三兄弟の次男

[49329 rows x 4 columns]

In [ ]:
# len(df_loc), len(df_loc[~df_loc.country.isna()]), len(df_loc[~df_loc.country.isna()])/len(df_loc)
# # df_loc[~df_loc.country.isna()].country.value_counts()[:20]

## Count

In [ ]:
# df_loc[(df_loc.country.isna())&(df_loc['count']>300)]
# idx = df_loc[df_loc.location.str.contains('Korea')].loc[df_loc.country.isna()].index
# df_loc.loc[idx,'country'] = df_country_names.loc[122, 'name']